#extends("/page/layout/default.vm")
  #block("head_other")
  #require("/components/cropit/jquery.cropit.js")
  #require("/components/hammer/hammer.js")
  #require("/static/css/item/item_edit.css")
  #end
  #block("header")#widget("/widget/header.vm" "var:title=发布邀约")#end
  #block("content")
  <div class="mui-content">

    <!--图片拼接和裁剪区-->
    <div class="edit-area">
      <div class="cut-area">
        <div class="top-img" id="topImg">
          <input type="file" style="display:none;"/>
          <div id="test" class="show-img"></div>
        </div>
        <div class="left-img" id="leftImg">
          <input type="file" style="display:none;"/>
          <div class="show-img"></div>
        </div>
        <div class="right-img" id="rightImg">
          <input type="file" style="display:none;"/>
          <div class="show-img"></div>
        </div>
      </div>
    </div>

    <!--邀约详情信息填写-->
    <div class="message-info">
      <span class="text-tit">详情填写</span>
      <div class="item-info">
        <ul>
          <li class="item-step">
            <p>想要邀约的明星</p>
            <input type="text" id="starName" placeholder="输入你邀约的明星全名"/>
          </li>
          <li class="item-step">
            <p>设置最低跟约人数</p>
            <input type="number" placeholder="输入邀约最低满足人数" id="unserCount"/>
          </li>
          <li class="item-step">
            <p>满足邀约人数即刻开启服务</p>
            <select placeholder="请选择开启的服务" id="service">
              #foreach($val in $!service)
                <option>$val.name</option>
              #end
            </select>
          </li>
          <li class="item-step">
            <p>选择服务机构</p>
            <select placeholder="请选择服务机构" id="organization">
              #foreach($val in $!organization)
                <option>$val.name</option>
              #end
            </select>
          </li>
          <li class="why">
            <textarea placeholder="请填写你发起邀约的理由" maxlength='1000' id="reason"></textarea>
          </li>
        </ul>
      </div>
    </div>
    <!--预览按钮-->
    <div class="release-btn">
      <button class="red" id="preview">预览发布</button>
    </div>
  </div>
  #end
  #block("back_script")
  <script type="text/javascript">

  var _topImg =$("#topImg");
  var _leftImg =$("#leftImg");
  var _rightImg =$("#rightImg");
  var _imgs =[_topImg,_leftImg,_rightImg];

  /**
   * 预览发布按钮响应
   */
  $("#preview").click(function(){
    var bool =checkIsNull($("div.item-info"));
    if(bool){

      var _imgTop =_topImg.cropit("imageSrc");                              //裁剪图片一
      var _imgLeft=_leftImg.cropit("imageSrc");                             //裁剪图片二
      var _imgRigt=_rightImg.cropit("imageSrc");                            //裁剪图片三

      var _starName =$("#starName").val();                                  //明星姓名
      var _userCount =$("#unserCount").val();                               //最低达到人数
      var _service =$("#service").find("option:selected").val();            //开启的服务
      var _organization =$("#organization").find("option:selected").val();  //服务机构
      var _reason =$("#reason").val();                                      //理由

      var _data ={starName:_starName,userCount:_userCount,service:_service,organization:_organization,reason:_reason};

      console.log(_imgTop);
      // console.log(JSON.stringify(_data));  //测试打印数据
      
      //保存提交
      // mui.ajax('/item/save',{
      //   data:_data,
      //   dataType:'json',
      //   type:'post',               
      //   success:function(data){
      //       //执行相关跳转
      //   },
      //   error:function(xhr,type,errorThrown){
      //     console.log(type);
      //   }
      // });
    }
  });
  /**
   * 非空验证
   */
  function checkIsNull(dom){
    var status =true;
    dom.find("input,select,textarea").each(function(){
      var _val = $(this).val()!=null?$(this).val():$(this).find("option:seleted").val();
      var _placeholder=$(this).attr("placeholder");

      if(_val==""||_val==undefined){
        $(this).focus();
        mui.toast(_placeholder);
        status=false;
        return false;
      }
    });
    return status;
  }

  /**
   * 初始化对象
   */
  $(function(){

    //初始化图片裁剪操作
    for(var i=0;i<_imgs.length;i++){

      $(_imgs[i]).find("div.show-img").click(function(){
        $(this).prev().click();
      });
      _imgs[i].cropit({
        $preview:_imgs[i].find(".show-img"),
        $fileInput:_imgs[i].find("input[type='file']"),
        onImageLoaded:function(){

          $(this)[0].$preview.css("border","1px solid #FFF");   //设置去掉显示图片的虚线边框

          // var stage =_imgs[i].find("img")[0];
          // var mc = new Hammer.Manager(stage);
          // var pinch = new Hammer.Pinch();
          //     mc.add(pinch);
          //     mc.on('pinchmove', function(e) {
          //         var _get_zoom =_imgs[i].cropit("zoom");
          //         _imgs[i].cropit("zoom",e.scale);
          //     });
              
        }
      });    
    }

  });

  </script>
  #end
#end