div.ymx-list{
      width:100%;
      float:left;
      padding:2px;
    }
    li.star-item{
      width:50%;
      padding:3px;
      float:left;
    }
    div.star-info{
      width:100%;
      float:left;
      padding:5px;
      background-color:#FFF;
    }
    div.star-info > span.send-user{
      width:100%;
      padding-left:30px;
      float:left;
      text-indent:5px;
      line-height:30px;
      display:block;
    }
    div.star-info > span.send-user > i{
      width:30px;
      height:30px;
      display:block;
      float:left;
      margin-left:-30px;
      border-radius:50%;
      overflow:hidden;
    }
    div.star-info > span.thumb-img{width:100%;height:auto;display:block;padding:5px 0;float:left;position:relative;}
    div.star-info > span.thumb-img >a{float:left;display:block;}
    div.star-info > span.thumb-img >a > img{width:100%;height:auto;float:left;}
    div.star-info > span.thumb-img > span.tag{position:absolute;right:3px;bottom:8px;}
    div.star-info > span.send-user > i > img{
      width:100%;
      height:auto;
      float:left;
      border:0;
    }
    div.item-info{
      position:relative;
      width:100%;
      float:left;
    }
    div.item-info > label{
      position:absolute !important;
      width:40px;
      height:40px;
      display:block;
      bottom:0;
      right:5px;
    }
    p.item-tit{
      color:#000;
      text-align:left;
      white-space:nowrap;
      overflow:hidden;
      font-size:15px;
      margin-bottom:10px;
      text-overflow:ellipsis;
    }
    p.item-row:before{padding-right:5px;}
    p.item-row{
      font-size:13px;
    }
    ul#layout{float:left;}

    /**首页第3种样式*/
    li.star-item{
      width:50%;
      float:left;
      padding:3px;
    }
    li.star-item > div.item-info{
      width:100%;
      float:left;
      padding:5px;
      background:#FFF;
    }
    li.star-item > div.item-info > span.show-img{
      padding:50%;
      position:relative;
      float:left;
      display:block;
    }
    li.star-item > div.item-info > span.show-img >span.tag{
      position:absolute;
      right:0;
      bottom:3px;
    }
    li.star-item > div.item-info > span.show-img > a{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      overflow:hidden;
    }
    li.star-item > div.item-info > span.show-img > a > img{
      width:100%;
      min-height:100%;
      float:left;
    }
    div.other-info{
      width:100%;
      float:left;
      padding:6px 0;
      padding-bottom:0;
      padding-left:45px;
    }
    div.other-info > span.user-photo{
      width:40px;
      height:40px;
      float:left;
      display:block;
      margin-left:-45px;
      border-radius:50%;
      background:#EEE;
      overflow:hidden;
    }
    div.other-info > span.user-photo > img{
      width:100%;
      float:left;
    }
    p.item-title{
      font-size:15px;
      text-align:left;
      text-overflow:ellipsis;
      overflow:hidden;
      margin:0;
      color:#000;
      white-space:nowrap;
    }
    p.genyue{font-size:12px;color:red;}
    p.genyue:after{content:"人跟约";margin-left:3px;color:gray;}