/**
 * 全局公共样式
 */
html{background:#fff;}
html,body{
  position:relative;
  width:100%;
  max-width: 800px;
  height:100%;
  text-align:center;
  padding:0;
  overflow:auto;
  margin:auto;
}
ul,li,dl,dd,ol{list-style-type: none;padding:0;margin:0;}
p{margin:0;}
/**
 * 底部菜单样式
 */
.mui-bar{
    box-shadow: 0 0 1px rgba(222, 222, 222, 0.85);
    -moz-box-shadow: 0 0 1px rgba(222, 222, 222, 0.85);
    -webkit-box-shadow: 0 0 1px rgba(222, 222, 222, 0.85);
    -ms-box-shadow: 0 0 1px rgba(222, 222, 222, 0.85);
    -o-box-shadow: 0 0 1px rgba(222, 222, 222, 0.85);
}
.mui-bar-tab .mui-tab-item{color:#000;}
/*底部菜单图标大小及行高*/
nav >a:before{font-size: 32px;line-height: 50px;}

/*页面内容公共样式*/
div.mui-content{
  width:100%;
  min-height:100%;
  margin:auto;
  text-align:left;
}

/*滚动图片导航点*/
.mui-slider-indicator{bottom:5px;}