/**
 * 全局公共样式
 */
html{background:#3a1d5f;}
html,body{
  position:relative;
  width:100%;
  max-width: 800px;
  height:100%;
  text-align:center;
  padding:0;
  margin:auto;
}
ul,li,dl,dd,ol{list-style-type: none;padding:0;margin:0;}
p{margin:0;}
input:focus,textarea:focus{border-color: #fb5d20 !important;}
.mui-toast-container{white-space: nowrap;}
/**
 * 底部菜单样式
 */
.mui-bar{background: #FFF;}
.mui-bar-tab .mui-tab-item{color:#000;}
/*底部菜单图标大小及行高*/
nav >a:before{font-size: 32px;line-height: 50px;}

/*页面内容公共样式*/
.mui-bar-transparent{
  background:rgba(255,255,255,0);
  box-shadow:0 0 1px rgba(0,0,0.85);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.85);
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.85);
  -o-box-shadow:0 0 1px rgba(0,0,0,0.85);
}
header + div.mui-content{padding-top:44px;}
div.mui-content{
  width:100%;
  min-height:100%;
  margin:auto;
  float:left;
  text-align:left;
}

/*滚动图片导航点*/
.mui-slider-indicator{bottom:5px;}
.mui-slider-indicator .mui-indicator{width:10px;height:10px;box-shadow: none;background:transparent;border:2px solid #606060;}
/*
 *公共按钮样式
 */

button{
  border:0;
  width:100%;
  padding:10px;
  font-size:15px;
  color:#FFF;
}
.red{background:#DA251D;}
.hui{background:#7d7d7d;}
.blue{background:#298FFF;}

/*覆盖mui选中菜单样式*/
.mui-bar-tab .mui-tab-item.mui-active{color:#da251d;}
/*底部加载更多样式*/
p.ymx-more{
  width:100%;
  display:inline-block;
  padding:10px 5px;
  padding-bottom: 20px;
  line-height:1em;
  font-size:12px;
  text-align:center;
}
.loading:before{
  content:"";
  width:100%;
  height:20px;
  margin:0;
  background:url("data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDovL2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDEyMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjODA4MDgwIj4KICAgIDxjaXJjbGUgY3g9IjE1IiBjeT0iMTUiIHI9IjE1Ij4KICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiBmcm9tPSIxNSIgdG89IjE1IgogICAgICAgICAgICAgICAgIGJlZ2luPSIwcyIgZHVyPSIwLjhzIgogICAgICAgICAgICAgICAgIHZhbHVlcz0iMTU7OTsxNSIgY2FsY01vZGU9ImxpbmVhciIKICAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJmaWxsLW9wYWNpdHkiIGZyb209IjEiIHRvPSIxIgogICAgICAgICAgICAgICAgIGJlZ2luPSIwcyIgZHVyPSIwLjhzIgogICAgICAgICAgICAgICAgIHZhbHVlcz0iMTsuNTsxIiBjYWxjTW9kZT0ibGluZWFyIgogICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAgPC9jaXJjbGU+CiAgICA8Y2lyY2xlIGN4PSI2MCIgY3k9IjE1IiByPSI5IiBmaWxsLW9wYWNpdHk9IjAuMyI+CiAgICAgICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZnJvbT0iOSIgdG89IjkiCiAgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjAuOHMiCiAgICAgICAgICAgICAgICAgdmFsdWVzPSI5OzE1OzkiIGNhbGNNb2RlPSJsaW5lYXIiCiAgICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgICAgICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iZmlsbC1vcGFjaXR5IiBmcm9tPSIwLjUiIHRvPSIwLjUiCiAgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjAuOHMiCiAgICAgICAgICAgICAgICAgdmFsdWVzPSIuNTsxOy41IiBjYWxjTW9kZT0ibGluZWFyIgogICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAgPC9jaXJjbGU+CiAgICA8Y2lyY2xlIGN4PSIxMDUiIGN5PSIxNSIgcj0iMTUiPgogICAgICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9InIiIGZyb209IjE1IiB0bz0iMTUiCiAgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjAuOHMiCiAgICAgICAgICAgICAgICAgdmFsdWVzPSIxNTs5OzE1IiBjYWxjTW9kZT0ibGluZWFyIgogICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAgICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9ImZpbGwtb3BhY2l0eSIgZnJvbT0iMSIgdG89IjEiCiAgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjAuOHMiCiAgICAgICAgICAgICAgICAgdmFsdWVzPSIxOy41OzEiIGNhbGNNb2RlPSJsaW5lYXIiCiAgICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgICA8L2NpcmNsZT4KPC9zdmc+Cg==") no-repeat scroll 49% 50%/30px 15px;
  display:inline-block;
}

/*通用标题样式*/
span.text-tit:before{content:"";width:4px;height:16px;background:#909090;float:left;margin-top:1px;margin-right:3px;display:inline-block;}
span.text-tit{
  width:100%;
  display:block;
  float:left;
  padding:10px;
  border-bottom:1px solid #eee;
}

/*更多菜单图标*/
.more{padding-right: 25px !important;}
.more:after{content:"\e583";font-family: Muiicons;font-size:20px;top:50%;margin-top:-0.5em;position:absolute;right:5px;color:#000;}

.renz:after{content:"\e858";color:#F0791C;}  /*已认证图标*/
.cany:before{content:"\e635";}               /*参与的*/
.wode:before{content:"\e603";}               /*我的*/
.img-icon:before{content:"\e606";}
.search-icon:after{content:"\e8bb";}

/*空数据样式*/
p.null-data{
  width:100%;
  float:left;
  text-align:center;
  padding-top:20px;
}
p.null-data:before{
  content:"暂无数据";
  width:60px;
  height:60px;
  margin:auto;
  color:#DFDFDF;
  line-height: 150px;
  display:inline-block;
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAGS0lEQVR4Xu1b3VHcSBDungnAOAJDBEaM3g0RGEdwOAJwBIcjYIkAHAEQAfCuKXERmIvguABWffWpWpTQStoZacWuD08VtbCMZqa/6f9uMb3xwW+cfvoNwG8OeAUE8jzfnc/nn5h5W0R2sSUz79e2fhKRB/3+TkSerLX3SZKU38UM7/2dc65c23t/QkRPzrlL/J1l2WWapkf19SYTgTzPPxdFcUhE+PmXiK5xGGPMnR7gIUmSJ/ye5/k2EeGHiqLYF5FtBUiI6M4Y8yNJkuq5Xjy89+KcK+ny3p/i0zlXftbBqRZZKQB5nm8VRXFMRED+byKageAkSR5jbrGaC2AURNzaOxGZWWsBRglc21gLAHXCReTGWns6lOguwvI835/P50fM/FlETtM0Pd8IALIsO2TmMxG5n4LwJpHKFZci8s5a+60pGlmWPaVpujW5COitnxHRgTHmKFRGh4hC2zMAnoguAb5z7nsHN0yjA0D8fD6/JaK/rLUnfTK5KoLb1tFLuBYRsdZ+aZ5jEiUIk1YUBYj/VpmXKYkMWRvmjYg+WmsP6iCsHIBNJL4CCMSKyOc6COoHwAzORptBZbefm3TzTe5oA6E+Z7AfUMk8M59vCtt3iYaKw4c0TQ9aAHr2EqMcIe/9hYhw040Mkc91zPHew4W+rjzAmpjEA6B2/tQYs78ubR8LInyF+Xz+YK09rJvnaBGo5N4YAxMT5IvHHnaq+d77IxE5TtM0GcwB3vuZiGytgvWzLLtO0xTOS+/QyBGu7tK5y9bCjcNZ6tNbncFQjY22x7K+ctKDc66M+JYN7/1j6Ny+tRA/FEVx4Zzb6ZrXCYCalO0xt4/bJCJEiH8gOmwqpa5DgfMQ/SEMJqLHMYHVMi7oA+AfY0wycnMQAhCgfUu/PHSoF4fERvSz9T2WcUErAKpADlchh6EETzkPImWMgUVYyDC1AgCFxcywo2Uq6Vcfyk1bzjkkal6MLg4QY8z7scpvU4DTGOaqTRkuAKAyM3POlcnLaqhievHdAAJ7TRLW0wBmrAkE95YBUDWQKLHW7jZ12gIAfewygOCNeQRiDZ8gTVN8Po8FAIbKP1xmay1MVnQqOwYlNa0Uu08zN1Dt2cYBSEMjqRns+irbIj1GajonAQHWiYgusI+IfGneZh+QXZatDYBoBaj6Aenw6IPF3H4daM1LvJDzvrVUt51WRZM+DnguLIQeTvMFM2aGCxvl8ITugXm1fVBgAZd21gea604KQAwR65qr6fTbpilsFYGqtLSuw06xr/oCMI8vArJgADQ0/jjmcMz8Y5l3CTlHcnPkPjdNPyBKBP5PXmAFZAwA0WZwzG291rPBZnCoI/RahAzdJ8YRghlrjZyGbr4JzwW7wlqGPqsnEzeBgLFn8N63JnjeUji8YAIB6qsnRKrYHGKmHSTnMR7dEE7oy2++ekqskkVr7V1RFMjQHE3dX+C9/6m1jbCUmPrcj20JhCE3UH8GZat6skU5AkHNB3SKWWu/x4a6AUEQEjGtKflJ0+JtB1Mzi0zvi0hOQd9nZkRsYzNPz1tnWXbb54H2FkaKosiNMTurlFENSpCVwdrXSZLcNLy1ztuK5b4u/7++Tm+b3CpLY83DV54ZEeHW3+H/tQ6zlSRU9PYX4oJgAGq64EWVNfYm1jFfs0cny8RpaaOkdmP92ey/WQdRoXvGVLWXAoBN0XXBzMgUfQ09xDrnKevfh2SnggBQRJEkRb1go6tF6GYhop1m7q/rQoIAwMNVuZyZIVcbCYJGfIcx3SzBACgIaHu/20QQsiw7ZuavMcR3xgJLPKuNA0HZPoklfhAAygloeoBOgDODhuXg9PQqlaOa6StmZi1/R58jSgTqh69y9NqiutC1vUpCO1xqdKlD4aF3cXAtYjAA1aG0jQ5+/a0xBoHMoJcjQgFTZXzBzO+NMWjUDi7hte0xGoCaSCCdfcLMV1MAoX79MWqCzAxzPPjWg13h0FupBTPQDSUQ0A8oR1trb4bqCL1t1Ajwpsh7rGeMmQ1dbzIO6JJRHBzBDhH9ZGa8DYZenTLQ2dvbu68DJyJl0UVEMB+xO16eAtHX1trLsaw+2hGK5YaGwsQ7BhVhVaz/qbFmBQgAAlB42WolUWHf2VeiA8aAs+5nfwOw7htY9/5vngP+A14pRH3uCSdLAAAAAElFTkSuQmCC") no-repeat scroll 50% 50%/60px 60px;
}

/*标签样式*/
span.tag{font-size:12px;color:#FFF;padding:2px 5px;line-height:1em;border-radius:3px;margin:0 3px;}
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{left:0;}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{top:8px;}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size:22px;}