
@font-face {font-family: "ymx";
  src: url('../fonts/ymx.eot?t=1490868171809'); /* IE9*/
  src: url('../fonts/ymx.eot?t=1490868171809#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ymx.woff?t=1490868171809') format('woff'), /* chrome, firefox */
  url('../fonts/ymx.ttf?t=1490868171809') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/ymx.svg?t=1490868171809#ymx') format('svg'); /* iOS 4.1- */
}

.ymx {
  font-family:"ymx" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homeb:before { content: "\e602"; }

.wo:before { content: "\e607"; }

.wd:before { content: "\e61b"; }

.homec:before { content: "\e652"; }

.wode1:before { content: "\e6ab"; }

.mx:before { content: "\e604"; }

.homea:before { content: "\e70f";}

.xin:before { content: "\e600"; font-size:40px;}

.wode2:before { content: "\e601"; }
.photo:before{content:"\e60c";}
.guanz:before{content:"\e622";color:red;}
.time:before{content:"\e63e";color:#247FF6;}

