<nav class="mui-bar mui-bar-tab">
  <a class="mui-tab-item mui-active" href="#">
    <span class="mui-icon ymx homeb"></span>
    <span class="mui-tab-label">首页</span>
  </a>
  <a class="mui-tab-item" href="#">
    <span class="mui-icon ymx zhibo"></span>
    <span class="mui-tab-label">直播</span>
  </a>
  <a class="mui-tab-item" href="#">
    <span class="ymx add1" id="sendMenu"></span>
  </a>
  <a class="mui-tab-item" href="#">
    <span class="mui-icon ymx faxian"></span>
    <span class="mui-tab-label">发现</span>
  </a>
  <a class="mui-tab-item" href="#">
    <span class="mui-icon ymx wd"></span>
    <span class="mui-tab-label">我的</span>
  </a>
</nav>