#extends("/page/layout/default.vm")
  #block("head_other")
    ## #require("/static/css/item/item_info.css")
    <style>

    </style>
  #end
  #block("content")
  <div class="mui-content">
ss
  </div>
  #end
  #block("back_script")
  <script type="text/javascript">
    $(function(){
       shareYmx();
    });
  </script>
  #end
#end
