      div.send-user{
        width:100%;
        float:left;
        background-color: #fff;
        border-bottom: 1px solid #DFDFDF;
        padding:10px;
        padding-left:60px;
      }
      div.send-user > span{
        width:40px;
        height:40px;
        display:block;
        float:left;
        margin-left:-50px;
        border-radius: 50%;
        overflow: hidden;
      }
      div.send-user > span > img{
        width:100%;
        float:left;
        min-height: 100%;
      }
      div.send-user > p.name{
        font-size: 15px;
        color:#000;
      }
      div.send-user > p.time{
        font-size: 12px;
      }
      div.show-list{
        width:100%;
        padding:2px;
        float:left;
      }
      div.show-list > p.tit{
        width:100%;
        padding:10px;
        float:left;
        margin: 10px 0;
        text-align: center;
        position: relative;
      }
      div.show-list > p.tit:before{
        content:"";
        position: absolute;
        width:100%;
        border-top:1px solid #dfdfdf;
        top:50%;
        left:0;
        z-index: 1;
      }
      div.show-list > p.tit > label{width:100%;text-align: center;position: absolute;z-index: 2;top:0;left:0;}
      div.show-list > p.tit > label > font{padding:0 10px;background:#EFEFF4;color:red;}
      div.show-list > p.tit > label > font:before{content:"跟约用户";color:gray;padding-right:3px;}
      div.show-list > p.tit > label > font:after{content:"人";padding-left:3px;color:gray;}
      li.user-item{
        width:50%;
        float:left;
        padding:2px;
      }
      li.user-item > div.user-info{
        width:100%;
        float:left;
        padding:10px;
        padding-left:50px;
        background-color: #FFF;

        transition:background 200ms;
        -webkit-transition:background 200ms;
        -o-transition:background 200ms;
        -moz-transition:background 200ms;
      }
      li.user-item > div.user-info:active{background:#F6F6F6;}
      li.user-item > div.user-info > span.photos{
        width:40px;
        height:40px;
        float:left;
        margin-left:-45px;
        display: block;
        overflow: hidden;
        background-color: #eee;
        border-radius: 50%;
      }
      li.user-item > div.user-info > span.photos>img{
        width:100%;
        float:left;
        min-height: 100%;
      }
      span.name{width:100%;display:block;font-size: 15px;color:#000;line-height: 40px;text-align: left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
    