#extends("/page/layout/default.vm")
  #block("head_other")
  #require("/components/cropit/jquery.cropit.js")
  #require("/components/hammer/hammer.js")
  <style>
    div.mui-content{
      background:#FFF;
    }
    div.edit-area{
      width:100%;
      float:left;
    }
    div.cut-area{
      padding:50%;
      float:left;
      background:#F6F6F6;
      position:relative;
    }
    div.top-img{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:40%;
      padding:5px;
      padding-bottom:0;
    }
    div.left-img,div.right-img{
      position:absolute;
      width:50%;
      top:40%;
      height:60%;
      padding:5px;
    }
    div.left-img{left:0;padding-right:1px;padding-top:2px;}
    div.right-img{right:0;padding-left:1px;padding-top:2px;}
    div.show-img{
      width:100%;
      height:100%;
      border:1px dashed #bababa;
      background:#FFF url("/static/img/addV2.png") no-repeat scroll 50% 50%/40px 40px;
    }
    div.item-info{width:100%;padding:5px 0;float:left;counter-reset:number;}
    li.item-step{
      width:100%;
      float:left;
      padding:10px;
      border-bottom:1px solid #eee;
    }
    li.item-step > p{font-size:15px;color:#000;}
    li.item-step > input{margin:0;margin-top:5px;font-size:15px;padding:0 10px;}
    li.item-step > select{border: 1px solid rgba(0,0,0,.2) !important;margin:0;margin-top:5px;}
    li.item-step:before{
      content:counter(number);
      counter-increment:number;
      width:20px;
      height:20px;
      border-radius:50%;
      background:#298fff;
      color:#FFF;
      text-align:center;
      float:left;
      font:14px/20px normal;
      display:block;
      margin-right:5px;
    }
    li.why{width:100%;float:left;border-top:4px solid #eee;padding:10px;}
    li.why > textarea{
      padding:5px 10px;
      font-size:15px;
      height:120px;
      margin:0;
    }
    div.release-btn{
      width:100%;
      float:left;
      padding:10px;
      margin-bottom:10px;
    }
  </style>
  #end
  #block("header")#widget("/widget/header.vm" "var:title=发布邀约")#end
  #block("content")
  <div class="mui-content">

    <!--图片拼接和裁剪区-->
    <div class="edit-area">
      <div class="cut-area">
        <div class="top-img" id="topImg">
          <input type="file" style="display:none;"/>
          <div id="test" class="show-img"></div>
        </div>
        <div class="left-img" id="leftImg">
          <input type="file" style="display:none;"/>
          <div class="show-img"></div>
        </div>
        <div class="right-img" id="rightImg">
          <input type="file" style="display:none;"/>
          <div class="show-img"></div>
        </div>
      </div>
    </div>

    <!--邀约详情信息填写-->
    <div class="message-info">
      <span class="text-tit">详情填写</span>
      <div class="item-info">
        <ul>
          <li class="item-step">
            <p>想要邀约的明星</p>
            <input type="text" id="starName" placeholder="输入你邀约的明星全名"/>
          </li>
          <li class="item-step">
            <p>设置最低跟约人数</p>
            <input type="number" placeholder="输入邀约最低满足人数" id="unserCount"/>
          </li>
          <li class="item-step">
            <p>满足邀约人数即刻开启服务</p>
            <select placeholder="请选择开启的服务" id="service">
              #foreach($val in $!service)
                <option>$val.name</option>
              #end
            </select>
          </li>
          <li class="item-step">
            <p>选择服务机构</p>
            <select placeholder="请选择服务机构" id="organization">
              #foreach($val in $!organization)
                <option>$val.name</option>
              #end
            </select>
          </li>
          <li class="why">
            <textarea placeholder="请填写你发起邀约的理由" maxlength='1000' id="reason"></textarea>
          </li>
        </ul>
      </div>
    </div>
    <!--预览按钮-->
    <div class="release-btn">
      <button class="red" id="preview">预览发布</button>
    </div>
  </div>
  #end
  #block("back_script")
  <script type="text/javascript">

  var _topImg =$("#topImg");
  var _leftImg =$("#leftImg");
  var _rightImg =$("#rightImg");
  var _imgs =[_topImg,_leftImg,_rightImg];

  /**
   * 预览发布按钮响应
   */
  $("#preview").click(function(){
    var bool =checkIsNull($("div.item-info"));
    if(bool){
      var _starName =$("#starName").val();
      var _userCount =$("#unserCount").val();
      var _service =$("#service").find("option:selected").val();
      var _organization =$("#organization").find("option:selected").val();
      var _reason =$("#reason").val();

      var _data ={starName:_starName,userCount:_userCount,service:_service,organization:_organization,reason:_reason};

      // console.log(JSON.stringify(_data));  //测试打印数据
      
      //保存提交
      // mui.ajax('/item/save',{
      //   data:_data,
      //   dataType:'json',
      //   type:'post',               
      //   success:function(data){
      //       //执行相关跳转
      //   },
      //   error:function(xhr,type,errorThrown){
      //     console.log(type);
      //   }
      // });
    }
  });
  /**
   * 非空验证
   */
  function checkIsNull(dom){
    var status =true;
    dom.find("input,select,textarea").each(function(){
      var _val = $(this).val()!=null?$(this).val():$(this).find("option:seleted").val();
      var _placeholder=$(this).attr("placeholder");

      if(_val==""||_val==undefined){
        $(this).focus();
        mui.toast(_placeholder);
        status=false;
        return false;
      }
    });
    return status;
  }

  /**
   * 初始化对象
   */
  $(function(){

    //初始化图片裁剪操作
    for(var i=0;i<_imgs.length;i++){

      $(_imgs[i]).find("div.show-img").click(function(){
        $(this).prev().click();
      });
      _imgs[i].cropit({
        $preview:_imgs[i].find(".show-img"),
        $fileInput:_imgs[i].find("input[type='file']"),
        onImageLoaded:function(){

          // var stage =_imgs[i].find("img")[0];
          // var mc = new Hammer.Manager(stage);
          // var pinch = new Hammer.Pinch();
          //     mc.add(pinch);
          //     mc.on('pinchmove', function(e) {
          //         var _get_zoom =_imgs[i].cropit("zoom");
          //         _imgs[i].cropit("zoom",e.scale);
          //     });
              
        }
      });    
    }

  });

  </script>
  #end
#end