#extends("/page/layout/default.vm")
  #block("head_other")
    #require("/components/progressbar/progressbar.js")
    #require("/static/css/home/index.css")
  #end
  #block("content")
    <div class="mui-content">
      <!-- 引用轮播图小组件：参数banners  -->
      ##widget("/widget/slider-banner.vm" "var:banners=$!pictures")

      <!-- 约星列表 -->
      <div class="ymx-list">
        <ul id="container"></ul>
      </div>
    </div>
  #end

  <!--底部菜单-->
  ##block("footer")#widget("/widget/footer.vm")#end
  #block("footer")#widget("/widget/footerV3.vm")#end

  <!--当前页面js-->
  #block("back_script")
  <script type="text/template" id="indexTmpl">
    <%_.each(list,function(item){%>
          <li class="star-item">
            <div class="item-info">
              <span class="show-img"><a open-type="common" href="<%=item.infoUrl%>"><img src="<%=item.thumbImg%>"/></a><%if(item.status==1){%><span class="tag red">进行中</span><%}else{%><span class="tag hui">已结束</span><%}%></span>
              <div class="other-info">
                <span class="user-photo"><img src="<%=item.userPhoto%>"/></span>
                <p class="item-title">约.<%=item.starName%></p>
                <p class="genyue"><%=item.userCount%></p>
              </div>
            </div>
          </li>
    <%});%>
  </script>
  <script type="text/javascript">
    var _tmpl = _.template($("#indexTmpl").html());
    $(function(){

            /**
             * 添加滚动条事件加载数据
             */
            scrollEvent({
              addStatus:"正在加载...",
              stopStatus:"上拉加载更多",
              overStatus:"已加载全部",
              autoLoad:true,
              callback:function(more){
                addData(more,1,10);
              }
            });

            /**
             * 加载新数据
             */
            function addData(more,page,count){
              mui.ajax('/home/get/item',{
                data:{
                  page:page,
                  count:count
                },
                dataType:'json',
                type:'post',               
                success:function(data){
                    var _html =$(_tmpl({list:data.data}));            //获取模板数据
                    $("#container").append(_html);                    //添加新数据
                    more.refreshMore(false);                          //改变底部加载状态
                },
                error:function(xhr,type,errorThrown){
                  console.log(type);
                }
              });
            }
    });
  </script>
  #end
#end