#extends("/page/layout/default.vm")
  #block("head_other")
    #require("/components/progressbar/progressbar.js")
    #require("/static/css/home/index.css")
  <style>
    div.star-info > span.thumb-img{height:120px !important;overflow:hidden;}
    div.star-info > span.thumb-img > a > img{min-height:120px;}
  </style>
  #end
  #block("content")
    <div class="mui-content">
      <!-- 引用轮播图小组件：参数banners  -->
      
      #widget("/widget/slider-banner.vm" "var:banners=$!pictures")
      <!-- 约星列表 -->
      <div class="ymx-list">
        <ul id="container"></ul>
      </div>
    </div>
  #end

  <!--底部菜单-->
  ##block("footer")#widget("/widget/footer.vm")#end
  #block("footer")#widget("/widget/footerV2.vm")#end

  <!--当前页面js-->
  #block("back_script")
  <script type="text/template" id="indexTmpl">
    <%_.each(list,function(item){%>
      <li class="star-item">
        <div class="star-info">
          <span class="send-user">
            <i><img src="<%=item.userPhoto%>"/></i>
            <p><%=item.userName%></p>
          </span>
          <span class="thumb-img"><a open-type="common" href='<%=item.infoUrl%>'><img src="<%=item.thumbImg%>"/></a><%if(item.status==1){%><span class="tag red">进行中</span><%}else{%><span class="tag hui">已结束</span><%}%></span>
          <div class="item-info">
            <p class="item-tit"><%=item.activityTile%></p>
            <p class="item-row ymx guanz"><%=item.userCount%>人跟约</p>
            <p class="item-row ymx time"><%=item.sendTime%></p>
            <label id="<%=item.itemId%>" progress="<%=item.ratio%>"></label>
          </div>
        </div>
      </li>
    <%});%>
  </script>
  <script type="text/javascript">
    var _tmpl = _.template($("#indexTmpl").html());
    $(function(){
            /*设置轮播图自动滚动间隔*/
            var slider = mui("#slider");
                slider.slider({interval: 5000});

            /**
             * 添加滚动条事件加载数据
             */
            scrollEvent({
              addStatus:"正在加载...",
              stopStatus:"上拉加载更多",
              overStatus:"已加载全部",
              autoLoad:true,
              callback:function(more){
                addData(more,1,10);
              }
            });

            /**
             * 加载新数据
             */
            function addData(more,page,count){
              mui.ajax('/home/get/item',{
                data:{
                  page:page,
                  count:count
                },
                dataType:'json',
                type:'post',               
                success:function(data){
                    for(var i=0;i<data.data.length;i++){
                      data.data[i].itemId=randomStr(4)+data.data[i].itemId;
                    }
                    var _html =$(_tmpl({list:data.data}));               //获取模板数据
                    $("#container").append(_html);                    //添加新数据
                    more.loadPoint();                                 //滚动到上次加载位置
                    more.refreshMore(false);                          //改变底部加载状态

                    _html.each(function(index,item){
                      if($(item).attr("class")=="star-item"){
                        var _dom =$(item).find("label");
                        var _id =_dom.attr("id");
                        var _ratio = _dom.attr("progress");
                        _dom.createProgress(_ratio);
                      }
                    });
                },
                error:function(xhr,type,errorThrown){
                  console.log(type);
                }
              });
            }
    });
  </script>
  #end
#end